/* Google Fonts - Prompt - font-family: 'Prompt', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');

/* https://colorhunt.co/palette/7c3e66f2ebe9a5becc243a73 */
:root {
  --primary-text-color: #243A73;
  --secondary-text-color: #7C3E66;
  --primary-accent-color: #F47C7C;
  --secondary-accent-color: #363062;
  --primary-background-color: #F2EBE9;
  --secondary-background-color: #A5BECC;
}

body {
  background-color: #e6e0de;
  font-family: 'Prompt', sans-serif;
  color: var(--primary-text-color);
  display: flex;
  justify-content: center;
}

.body-content-wrapper {
  background-color: var(--primary-background-color);
  max-width: 1080px;
  border: 3px solid var(--secondary-accent-color);
  border-radius: 25px;
  padding: 2%;
}

a {
  text-decoration: none;
}

a:visited {
  color: var(--primary-accent-color)
}

hr {
  background-color: var(--secondary-accent-color);
  height: 3px;
  border-style: none;
}

.dotted-hr {
  border-color: rgb(218, 218, 218);
  border-style: dotted none none;
  border-width: 7px;
  width: 10%;
  max-width: 48px;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  margin-top: -12px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--secondary-text-color);
}